.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
  gap: 10px;
}

.social {
  color: var(--text-color3);
}

.social:hover {
  color: var(--text-color4);
  cursor: pointer;
  transition: all 0.5s ease-out;
}

@media (max-width: 450px) {
  .footer {
    font-size: 1.5rem;
    gap: 5px;
  }
}
