.top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.img {
  width: 175px;
  height: auto;
  display: block;
  margin: 0 20px 0 20px;
  border: 10px solid var(--text-color1);
  border-radius: 50%;
  box-shadow: 1px 1px 40px var(--text-color1);
}

.info-container {
  margin: 0 10px 0 30px;
}

.title {
  font-size: 3.5rem;
  font-weight: 900;
}

.nick {
  font-size: 2rem;
  font-weight: 300;
  margin: -35px 0 0 0;
}

.s1 {
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  font-weight: 100;
}

.info {
  font-size: 1.2rem;
  color: var(--text-color3);
}

@media (max-width: 450px) {
  .top {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 150px;
    margin: 0 0 10px 0;
  }

  .info-container {
    margin: 0;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }

  .nick {
    font-size: 1.5rem;
    margin-top: -20px;
    text-align: center;
  }

  .list {
    margin-bottom: -20px;
  }

  .info {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 380px) {
  .img {
    width: 130px;
  }

  .info-container {
    margin: 0;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }

  .nick {
    font-size: 1.2rem;
    margin-top: -20px;
    text-align: center;
  }

  .list {
    margin-bottom: -20px;
  }

  .info {
    font-size: 0.9rem;
    text-align: center;
  }
}
