:root {
  /* font color var */
  --text-color1: rgba(75, 171, 106, 1);
  --text-color2: black;
  --text-color3: rgba(171, 211, 165, 1);
  --text-color4: whitesmoke; /* Social icons hover color */
  --text-color5: rgba(196, 224, 192, 1);
  --text-color6: rgba(189, 226, 201, 1); /* mid-bt span tag color */
  --text-color7: rgba(33, 74, 43, 1);

  /* box color var */
  --box-color1: rgba(7, 85, 39, 0.519);
  --box-color2: rgba(0, 0, 0, 0.104); /* music player box */

  /* divider color */
  --div-color: rgba(48, 63, 54, 1);
}

body {
  background: url("./assets/skulls.svg") repeat,
    linear-gradient(180deg, rgb(0, 0, 0) 35%, rgba(75, 171, 106, 1) 100%);
  background-size: auto cover;
  background-attachment: fixed;

  /* default font family */
  font-family: "ITC", Arial;

  /* default main text color */
  color: var(--text-color1);

  ::selection {
    background-color: var(--text-color1);
    color: var(--text-color2);
  }
}

/* site main font */
@font-face {
  font-family: "ITC";
  src: url(./fonts/ITC-Avant-Garde-Gothic-Std-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
